<!DOCTYPE html>
<html lang="fr">
<body>

<div class="container">

    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">OUPS</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Une erreur est survenue ! Un administrateur a été prévenu.</p>
        </div>
        <a href="/books" class="btn btn-dark btn-lg">ACCUEIL</a>
    </div>

</div>

</body>
</html>